.apresentacao {
    background-image: url('image.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.apresentacao__texto {
    color: #b2b22c;
    margin: 0; 
    gap: 10px;
}

#price {
    font-size: 2em;
    color: #4caf50;
    margin-left: 10px;
}
