.apresentacao {
    background-image: url('images/image.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    gap: 10px;
}


.apresentacao__texto {
    color: #b2b22c;
    margin: 0; 
    background-color: rgba(0, 0, 0, 0.5); /* Adiciona um fundo semitransparente para melhorar a legibilidade */
    padding: 10px; /* Adiciona um pouco de padding ao redor do texto */
    border-radius: 5px; /* Adiciona bordas arredondadas */
}

#price {
    font-size: 2em;
    color: #4caf50;
    margin-top: 10px;
}
