<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="apresentacao">
    <header class="cabecalho">
        <nav class="cabecalho__menu">
            <a class="cabecalho__menu__link" href="/ethereum">Ethereum</a>


        </nav>
    </header>
    <h1 class="apresentacao__texto">Preço do Bitcoin em Tempo Real</h1>
    <div id="btc_price">Carregando...</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

socket.on('updateBitcoin', function(data) {
    document.getElementById('btc_price').innerText = 'Bitcoin: $' + data.btc_price;
});

// Adicionar um listener para caso de erro
socket.on('connect_error', function() {
    console.log('Erro na conexão com o WebSocket');
    document.getElementById('btc_price').innerText = 'Erro ao carregar preço';
});
    </script>
</body>
</html>
